body {
    font-family: Arial, sans-serif;
    width: 800px;
    margin: 0 auto;
}

p {
    margin: 0px;
}

.header {    
    display: flex;
    align-items: flex-end;
    height: 75px;    
    width: 800px;
    background-color: #0b3b54;
    margin: 0 auto;

}

.header a {
    color:#C9A920;
    text-decoration: none;
    font-size: 18px;
    margin: 0 12px;    
    display: inline-block;
    margin-bottom: 24px;
}

.header .logo {
    font-size: 24px;
    margin: auto 48px;
}

.content {
    padding: 24px;
    background-color: #f5f5f5;
    height: 400px;
}

h3 {
    font-size: 18px;
}

.text {
    margin: 0;
    padding: 0 12px;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.subscribe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 150px;
    border: solid black 1px;
    float: right;
    padding: 24px 12px;
    box-sizing:border-box;    
}

#send-btn {
    width: 50%;
}